html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 5ex;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

nav {
  position: sticky;
  top: 0;

  background-color: #36bed9;
  border-radius: 4px;
  color: white;
  box-shadow: 0 0 10px 1px #4b4c4d;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
}
li {
  padding: 0.5rem;
}
ul a {
  color: white;
  text-decoration: none;
}
ul a:hover {
  color: rgba(58, 55, 55, 1);
}
ul p {
  margin: 0;
  padding: 10px 5px 10px 0;
}
main {
  height: 100%;
  background-color: #fff;
}
article img {
  max-width: 100%;
  min-height: auto;
}
h1 {
  display: block;
  font-size: 2em;
}
hr {
  z-index: 99999;
  height: 0.1rem;
  max-width: 100%;
  border: 0;
  background-image: linear-gradient(
    to right,
    transparent,
    #36bed9,
    transparent
  );
}
section {
  text-align: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  padding: 5rem;
}
form .enabled {
  margin: 2.5rem auto 0 auto;
  width: 6rem;
  height: 3rem;

  background-color: rgba(58, 55, 55, 1);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;

  font-size: 22px;
  padding: 5px;
  text-decoration: none;
}
form .enabled:hover {
  border: 2px solid rgba(58, 55, 55, 0.75);
  color: rgba(58, 55, 55, 1);
  background-color: #fff;
}
form .enabled:active {
  position: relative;
  top: 1px;
}
form .disabled {
  margin: 2.5rem auto 0 auto;
  width: 6rem;
  height: 3rem;
  background-color: rgba(58, 55, 55, 0.5);
  border-radius: 6px;
  border: 2px solid #dcdcdc;
  display: inline-block;
  cursor: not-allowed;
  color: #ffffff;

  font-size: 22px;
  padding: 5px;
  text-decoration: none;
}

label {
  margin-right: auto;
  margin-left: 10px;
}
input {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 5px;
  width: inherit;
  border: none;
  background-color: rgba(58, 55, 55, 0.5);
  border-bottom: solid 1px #ffffff60;
}
textarea {
  resize: none;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 5px;
  width: inherit;
  border: none;
  background-color: rgba(58, 55, 55, 0.5);
  border-bottom: solid 1px #ffffff60;
}
footer {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8vh;
  color: #ffffff;
  background-color: #36bed9;
}
footer a:hover {
  color: rgba(58, 55, 55, 1);
}
footer li {
  margin-top: 1rem;
}
.App {
  height: inherit;
}
.display li {
  display: none;
}
.burger {
  display: none;
  margin: 10px;
  order: -1;
}

.logo {
  margin: 20px;
}
.hero-img {
  min-height: 60vh;
  max-width: 100%;
  background-image: url("./assets/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img section {
  backdrop-filter: blur(5px);
  min-height: inherit;
  background-color: rgba(58, 55, 55, 0.6);
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.header-img-center {
  display: inline-flex;
  background-color: rgb(54, 190, 217);
  padding: 0.5rem;
  border-radius: 50%;
}
.header-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.grid-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.grid {
  color: rgb(75, 76, 77);
}
.card-flex-items {
  overflow: hidden;
  height: 560px;
  margin: 10px 30px;
  box-shadow: 0 0 10px 1px #4b4c4d50;
}
.overflow {
  overflow: hidden;
}
.hover {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  opacity: 1;
  width: 400px;
  height: 400px;
  background-color: black;
  transition: all ease 300ms;
}
.hover:hover {
  transform: scale(1.1);
  opacity: 0.75;
}
.project {
  border-bottom: 2px solid rgb(75, 76, 77);
  width: 400px;
  height: 400px;
}
.zoom-container {
  padding-top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  opacity: 0;
  height: 400px;
  width: 400px;
  position: absolute;
  opacity: 0%;
  background-color: #36bed9;
  cursor: zoom-in;
}

@keyframes fadeIn {
  25% {
    padding-top: 1rem;
    opacity: 0.25;
  }
  50% {
    padding-top: 2rem;
    opacity: 0.45;
  }
  75% {
    padding-top: 3rem;
    opacity: 0.65;
  }
  100% {
    padding-top: 4rem;
    opacity: 0.85;
  }
}
.zoom-container:hover {
  animation: fadeIn 300ms linear 0s 1 normal forwards running;
  opacity: 0;
}
.zoom-icon {
  height: 10rem;
  width: 10rem;
}
.zoom-name {
  font-size: 1.5rem;
  color: white;
}
.card-flex-items p {
  text-align: justify;
  margin: 0 0 0 1rem;

  max-width: 34ch;
}
.link {
  margin-bottom: auto;
  text-decoration: none;
}
.link:hover {
  color: grey;
}
.skill-set {
  margin-top: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #fff;
  background: linear-gradient(#36bed9, #29bad7);
}
.skill-set hr {
  background-image: linear-gradient(
    to right,
    transparent,
    #fffff999,
    transparent
  );
}

.flex-icons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.icon-bg {
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  padding: 0.8rem;
  border-radius: 20%;
  margin: 100px;
}

.icon {
  height: 80px;
  box-shadow: 2px 2px 2px 2px rgba(105, 102, 102, 0.5);
  padding: 0.5rem;
}
div.alt:hover {
  position: relative;
}
div.alt span {
  display: none;
}
div.alt:hover span {
  padding: 5px 5px 5px 5px;
  display: block;
  z-index: 100;
  background: rgba(58, 55, 55, 0.9);
  left: -27px;
  margin: 15px;
  width: 112px;
  position: absolute;
  bottom: 100px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 15px;
}

.experience {
  margin-top: 5rem;
  color: rgb(75, 76, 77);
}

.exp-cards-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.exp-card {
  margin: 2rem;
}
.exp-card img {
  border-radius: 12%;
  border: solid 6px #36bed9;
}
.contact {
  width: inherit;
  color: rgba(58, 55, 55, 1);
  padding-top: 4rem;
  background-color: #ffffff;
}
.contact hr {
  background-image: linear-gradient(
    to right,
    transparent,
    #fffff999,
    transparent
  );
}
.form-name {
  display: flex;
  flex-flow: column wrap;
}
@keyframes popUp {
  0% {
    z-index: 1;
    transform: translateY(-60px);
  }
  10% {
    z-index: 1;
  }
  30% {
    z-index: 1;
  }
  50% {
    z-index: 1;
  }
  100% {
    width: 100vw;
    z-index: 2;
    opacity: 1;
  }
}
@media screen and (max-width: 700px) {
  .hero-img {
    min-height: 50.6vh;
    max-width: 100%;
    background-image: url("./assets/cover.png");
    background-repeat: repeat;
    background-size: cover;
  }
  .hidden {
    display: none;
  }

  .display {
    z-index: 1;
    border-top: solid 1px white;
    top: 60px;
    width: 100vw;
    height: 50px;
    animation: popUp 0.3s linear 0s 1 normal forwards running;
    opacity: 0;
    position: sticky;
    box-shadow: 0 4px 5px 0 #4b4c4d90;
    color: #fff;
    background-color: #36bed9;
    margin-bottom: 1rem;
  }
  .display p {
    padding: 0;
  }
  .display ul {
    padding: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36bed9;
  }

  .display li {
    display: inherit;
  }
  nav {
    box-shadow: 0 4px 5px 0 #4b4c4d90;
  }
  nav li {
    display: none;
  }
  .logo {
    order: 1;
  }
  .burger {
    order: -1;
    display: block;
  }
  .card-flex-items p {
    margin-left: 0;
    padding: 0 0.5rem 0 0.5rem;
    max-width: none;
  }
  .card-flex-items {
    width: 80vw;
    height: auto;
    padding-bottom: 0.5rem;
  }
  .overflow {
    overflow: hidden;
  }
  .hover {
    width: 100%;
  }

  .project {
    width: 100%;
  }
  .zoom-container {
    display: none;
  }

  .icon-bg {
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    border-radius: 20%;
    margin: 50px 5px 0 0;
  }
  form {
    padding: 1rem;
  }
  input {
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0;
  }
  footer {
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 12vh;
    color: #fff;
    background-color: rgba(58, 55, 55, 1);
  }
  footer li {
    padding: 0.2rem;
    display: list-item;
  }
}
